---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import type { CollectionEntry } from "astro:content";
import slugify, { slugifyStr } from "@utils/slugify";
import LinkButton from "@components/LinkButton.astro";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const {
  title,
  author,
  description,
  ogImage,
  canonicalURL,
  githubLink,
  webLink,
  heroImage,
  heroImageAlt,
  tags,
} = project.data;

const { Content } = await project.render();

const ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;
const ogUrl = new URL(
  ogImageUrl ?? `/projects/${slugify(project.data)}.png`,
  Astro.url.origin
).href;
---

<Layout
  title={title}
  author={author}
  description={description}
  ogImage={ogUrl}
  canonicalURL={canonicalURL}
>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mb-2 mt-8 flex hover:opacity-75"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>Go back</span>
    </button>
  </div>
  <main id="main-content">
    {
      heroImage && (
        <img
          class="w-full h-64 object-cover object-center"
          src={heroImage as string}
          alt={heroImageAlt ?? `Preview image for ${title}`}
        />
      )
    }

    <div class="mt-8">
      <div>
        Links:
        <LinkButton href={githubLink}>
          Github{project.data.stars ? ` (${project.data.stars} stars)` : ""}
        </LinkButton>
        {
          webLink && (
            <>
              {" | "}
              <LinkButton href={webLink}>Project Link: {webLink}</LinkButton>
            </>
          )
        }
      </div>
    </div>

    <article
      id="article"
      role="article"
      class="prose mx-auto mt-8 mb-8 max-w-3xl"
    >
      <Content />
    </article>

    <h3>
      Follow the{" "}
      <LinkButton href={`/tags/${project.slug}`}>#{project.slug}</LinkButton> tag
      to read more about this project!
    </h3>

    <ul class="tags-container">
      {tags.map((tag: string) => <Tag name={slugifyStr(tag)} />)}
    </ul>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-2xl font-semibold text-skin-accent;
  }
  .tags-container {
    @apply my-8;
  }
</style>
